# Ignore environment variables file
.env

# Ignore configuration file
config.py

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore log files
*.log
*.log.*

# Ignore virtual environment directory
venv/
ENV/
env.bak/
env/

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore Flask instance folder
instance/
